.root {
    width: 100%;
    flex-grow: 1
  }


  .menuButton {
    margin-right: 50px
  }


  .title {
    flex-grow: 1;
    color: rgb(160, 33, 160);
    padding : 30px 20px 30px 0;
    font-size: 24px;
    font-weight: 500;
  }

  .yellow {
    color: rgb(21, 18, 180) !important;
  }

  .MuiPaper-elevation0 {
    top: 50px !important;
  } 

  .MuiPaper-elevation4 {
    top: 0px !important;
  }
  .MuiAppBar-positionSticky {
    position: fixed !important;
  }